@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-BoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-BoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLightItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-BlackItalic.woff2") format("woff2"), url("../fonts/Montserrat-BlackItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Italic.woff2") format("woff2"), url("../fonts/Montserrat-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-LightItalic.woff2") format("woff2"), url("../fonts/Montserrat-LightItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-MediumItalic.woff2") format("woff2"), url("../fonts/Montserrat-MediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-SemiBoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Thin.woff2") format("woff2"), url("../fonts/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-ThinItalic.woff2") format("woff2"), url("../fonts/Montserrat-ThinItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

input,
button,
textarea {
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  color: #161616;
}

select,
input,
textarea {
  font-family: "Montserrat", sans-serif;
  color: #161616;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 700;
}

h3 {
  font-size: 40px;
  font-weight: 700;
}

h4 {
  font-size: 32px;
  font-weight: 700;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}

.no-containerRight {
  max-width: calc((100% - 1380px) / 2 + 1380px);
  margin-left: auto;
  width: 100%;
  padding-left: 20px;
}

.section__new-page {
  margin-top: 75px;
}

.header {
  padding: 35px 0;
  border-bottom: 1px solid #D9D9D9;
}

.header__social {
  display: inline-block;
  padding: 15px;
  border-radius: 50px;
  border: 1px solid #D9D9D9;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  line-height: normal;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  font-size: 20px;
  color: #FE0000;
}

.header__social:hover {
  background: #FE0000;
  border-color: #FE0000;
  color: white;
}

.header__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 65px;
}

.navbar__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 75px;
}

.navbar__item {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbar__item:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #FE0000;
}

.no-webp .hero {
  background: url(../img/hero-bg.png) no-repeat right; }

.hero__headline {
  max-width: 610px;
}

.hero__description {
  max-width: 610px;
}

.hero__btn {
  background: #FE0000;
  width: 305px;
  text-align: center;
  color: white;
  display: inline-block;
  padding: 18px 0;
  border-radius: 10px;
}

.hero__btn::after {
  padding-left: 15px;
  font-size: 18px;
}

.offers__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.offers__blocks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}

.offers__link {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.offers__link:hover {
  color: #FE0000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.offers__link::after {
  padding-left: 15px;
  font-size: 20px;
}

.offers__block {
  border-radius: 10px;
  display: inline-block;
  -webkit-box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.2);
  box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.2);
}

.offers__block-image {
  width: 100%;
}

.offers__block-headline {
  color: #FE0000;
  font-weight: 600;
}

.offers__block-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.offers__block-info-title {
  font-weight: 600;
}

.offers__block-info-subtitle {
  font-size: 14px;
}

.offers__block-footer {
  border-top: 1px solid #D9D9D9;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.offers__block-price {
  padding: 20px 0;
  font-weight: 600;
  border-right: 1px solid #D9D9D9;
}

.offers__block-btn {
  padding: 20px 0;
  font-weight: 500;
  display: inline-block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.offers__block-btn:hover {
  color: #FE0000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.offers__block-btn::after {
  font-size: 15px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 75px;
}

.no-webp .about__image {
  background: url(../img/about-bg.png) no-repeat right; }

.about__image {
  width: 100%;
  height: 408px;
}

.about__text {
  max-width: 650px;
}

.about__description {
  margin-top: 15px;
}

.about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about__item-title {
  font-weight: 600;
  color: #FE0000;
}

.tradeIn {
  background-color: #F3F4F5;
  padding: 118px 0 118px 80px;
  position: relative;
}

.tradeIn__subtitle {
  margin-top: 25px;
  font-size: 24px;
}

.tradeIn__description {
  max-width: 570px;
}

.tradeIn__image {
  position: absolute;
  right: 0;
  top: 0;
}

.service__blocks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  row-gap: 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: auto;
  margin-top: 205px;
}

.service__block {
  background: #F3F4F5;
  position: relative;
  padding: 225px 25px 25px 25px;
  border-radius: 10px;
}

.service__block-image {
  position: absolute;
  top: -165px;
  right: 0;
}

.service__block-description {
  margin-top: 5px;
  margin-bottom: 40px;
}

.service__block-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 25px;
}

.service__block-btn {
  margin-top: 40px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  font-weight: 600;
  color: #FE0000;
  padding: 18px 0;
  border: 1px solid #FE0000;
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.service__block-btn:hover {
  background: #FE0000;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.service__block-btn::after {
  padding-left: 20px;
  font-size: 18px;
}

.service__block-extensive {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  padding: 62px 0 62px 40px;
}

.service__block-extensive-text {
  max-width: 600px;
}

.service__block-extensive-image {
  top: 0;
  right: 0;
}

.service__block-extensive-btn {
  width: 425px;
}

.contacts__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
  grid-template-columns: 60% 40%;
  gap: 40px;
  display: grid;
  -ms-grid-columns: 60% 40%;
  grid-template-columns: 60% 40%;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  row-gap: 40px;
  -webkit-box-align: auto;
  -ms-flex-align: auto;
  align-items: auto;
  justify-items: auto;
  margin-top: 40px;
}

.contacts__title {
  font-size: 18px;
  font-weight: 600;
}

.contacts__title-main {
  font-size: 24px;
  font-weight: 600;
}

.contacts__text {
  background: #F3F4F5;
  padding: 35px;
  border-radius: 10px;
}

.contacts__text-inner {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 100px;
}

.contacts__socials {
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contacts__socials-title {
  font-weight: 600;
  font-size: 24px;
}

.contacts__socials-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 35px;
  margin-top: 30px;
}

.contacts__socials-icon {
  font-size: 24px;
  padding: 15px;
  background: #161616;
  color: #C9C9C9;
  border-radius: 10px;
  line-height: normal;
}

.contacts__map {
  width: 100%;
  height: 350px;
  -ms-grid-column-span: 2;
  grid-column: span 2;
  border-radius: 10px;
}

.footer {
  background: #1C1D1F;
  padding: 45px 0;
  margin-top: 130px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__navbar {
  color: #C1C1C1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 70px;
}

.footer__navbar-item {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer__navbar-item:hover {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.catalog__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 60px;
  margin-top: 25px;
}

.catalog__navbar-item {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.catalog__navbar-item:hover {
  color: #FE0000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.catalog__form {
  margin-top: 45px;
  -webkit-box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.2);
  box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.2);
  border-radius: 10px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.catalog__form-block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

.catalog__label {
  margin-bottom: 5px;
}

.catalog__select {
  font-size: 20px;
  font-weight: 600;
  width: 130px;
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 15px;
}

.catalog__option {
  font-size: 16px;
}

.catalog__selects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 65px;
}

.catalog__btn {
  padding: 15px 0;
  width: 195px;
  border: 1px solid #C4C4C4;
  border-radius: 20px;
  font-weight: 500;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.catalog__btn:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: #FE0000;
  border-color: #FE0000;
  color: white;
}

.catalog__cars {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  row-gap: 65px;
  -webkit-box-align: auto;
  -ms-flex-align: auto;
  align-items: auto;
  justify-items: auto;
  margin-top: 45px;
  margin-bottom: 75px;
}

.catalog__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 25px;
}

.catalog__pagination-item {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.catalog__pagination-item:hover {
  color: #FE0000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.info__header {
  padding: 25px;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.info__header-specifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 65px;
}

.info__header-specifications-title {
  font-weight: 500;
  font-size: 18px;
  margin-top: 3px;
}

.info__header-info {
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.info__name {
  text-transform: uppercase;
  display: inline-block;
  border-right: 1px solid #D9D9D9;
  padding-right: 30px;
}

.info__brand {
  color: #FE0000;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 5px;
}

.info__model {
  font-size: 18px;
}

.info__price {
  font-weight: 600;
  font-size: 26px;
}

.info__block {
  margin-top: 45px;
  padding: 30px;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
}

.info__block-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 40px;
}

.info__specifications {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-column-gap: 165px;
  -moz-column-gap: 165px;
  column-gap: 165px;
  row-gap: 30px;
  -webkit-box-align: auto;
  -ms-flex-align: auto;
  align-items: auto;
  justify-items: auto;
}

.info__specifications-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 10px;
}

.info__specifications-item-title {
  font-weight: 500;
}

.no-webp .service__hero {
  background: url(../img/service-bg.png) no-repeat right; }

.service__hero {
  padding: 82px 0;
  margin-top: 75px;
}

.service__hero-description {
  margin-top: 20px;
  margin-bottom: 30px;
  max-width: 530px;
}

.service__hero-btn {
  padding: 18px 0;
  width: 305px;
  border-radius: 10px;
  background: #FE0000;
  display: inline-block;
  color: white;
  font-weight: 500;
  text-align: center;
}

.service__list {
  margin-top: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 36px;
}

.service__list-title {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 24px;
}

.service__list-description {
  max-width: 400px;
}

.service__list-item:nth-child(2) {
  padding-right: 35px;
  padding-left: 35px;
  border-right: 1px solid #D9D9D9;
  border-left: 1px solid #D9D9D9;
}

.request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.request__description {
  margin-top: 15px;
  max-width: 660px;
  text-align: center;
}

.request__form {
  width: 535px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}

.request__form-block {
  padding: 15px 25px;
  width: 100%;
  border: 1px solid #D9D9D9;
  background: #F3F4F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 5px;
}

.request__input,
.request__select {
  width: 100%;
  background: none;
  font-weight: 600;
  margin-top: 5px;
  font-size: 16px;
}

.request__btn {
  font-weight: 500;
  color: white;
  background: #FE0000;
  padding: 18px 0;
  display: inline-block;
  width: 100%;
  border-radius: 10px;
}

@media (min-width: 1600px) {
  html,
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 46px;
  }

  .section__default {
    margin-bottom: 145px;
  }

  .hero {
    padding-top: 96px;
  }

  .hero {
    padding-bottom: 96px;
  }

  .hero__headline {
    margin-bottom: 25px;
  }

  .hero__description {
    margin-bottom: 30px;
  }

  .offers__blocks {
    margin-top: 40px;
  }

  .offers__blocks {
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
  }

  .offers__block-header {
    padding: 25px;
  }

  .offers__block-headline {
    font-size: 20px;
  }

  .offers__block-infos {
    padding: 25px;
  }

  .offers__block-footer {
    padding-right: 25px;
  }

  .offers__block-footer {
    padding-left: 25px;
  }

  .offers__block-price {
    font-size: 20px;
  }

  .offers__block-btn::after {
    padding-left: 15px;
  }

  .about__description {
    margin-bottom: 45px;
  }

  .about__item-title {
    font-size: 36px;
  }
}

@media (max-width: 1600px) and (max-width: 767px) {
  html,
  body {
    font-size: calc(14px + 4.7 * (100vw - 320px) / 1600);
  }

  h1 {
    font-size: calc(28px + 40.7 * (100vw - 320px) / 1600);
  }

  h2 {
    font-size: calc(24px + 44.7 * (100vw - 320px) / 1600);
  }

  .offers__block-headline {
    font-size: calc(18px + 4.7 * (100vw - 320px) / 1600);
  }

  .offers__block-price {
    font-size: calc(18px + 4.7 * (100vw - 320px) / 1600);
  }

  .about__item-title {
    font-size: calc(24px + 24.7 * (100vw - 320px) / 1600);
  }
}

@media (max-width: 1600px) {
  .section__default {
    margin-bottom: calc(75px + 70 * (100vw - 320px) / (1600 - 320));
  }

  .hero {
    padding-top: calc(30px + 66 * (100vw - 320px) / (1600 - 320));
  }

  .hero {
    padding-bottom: calc(0px + 96 * (100vw - 320px) / (1600 - 320));
  }

  .hero__headline {
    margin-bottom: calc(15px + 10 * (100vw - 320px) / (1600 - 320));
  }

  .hero__description {
    margin-bottom: calc(20px + 10 * (100vw - 320px) / (1600 - 320));
  }

  .offers__blocks {
    margin-top: calc(25px + 15 * (100vw - 320px) / (1600 - 320));
  }

  .offers__blocks {
    -webkit-column-gap: calc(20px + 20 * (100vw - 1440px) / (1600 - 1440));
    -moz-column-gap: calc(20px + 20 * (100vw - 1440px) / (1600 - 1440));
    column-gap: calc(20px + 20 * (100vw - 1440px) / (1600 - 1440));
  }

  .offers__block-header {
    padding: calc(20px + 5 * (100vw - 320px) / (1600 - 320));
  }

  .offers__block-infos {
    padding: calc(20px + 5 * (100vw - 320px) / (1600 - 320));
  }

  .offers__block-footer {
    padding-right: calc(20px + 5 * (100vw - 320px) / (1600 - 320));
  }

  .offers__block-footer {
    padding-left: calc(20px + 5 * (100vw - 320px) / (1600 - 320));
  }

  .offers__block-btn::after {
    padding-left: calc(10px + 5 * (100vw - 320px) / (1600 - 320));
  }

  .about__description {
    margin-bottom: calc(25px + 20 * (100vw - 320px) / (1600 - 320));
  }
}

@media (max-width: 1440px) {
  .hero {
    background: none;
    padding-right: 20px;
  }

  .offers__blocks {
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
}

@media (max-width: 1200px) {
  .offers__blocks {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }

  .offers__block:nth-child(2) {
    display: none;
  }
}

@media (max-width: 768px) {
  .offers__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .offers__blocks {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .offers__block:nth-child(3) {
    display: none;
  }

  .about__image {
    display: none;
  }
}

@media (max-width: 768px) and (max-width: 1600px) {
  .offers__header {
    gap: calc(10px + 5 * (100vw - 320px) / (1600 - 320));
  }
}

@media (max-width: 768px) and (max-width: 320px) {
  .offers__header {
    gap: 10px;
  }
}

@media (max-width: 530px) {
  .about__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 25px;
  }
}

@media (max-width: 425px) {
  .hero__btn {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .offers__block-infos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 15px;
  }

  .offers__block-footer {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    padding-right: 0;
    padding-left: 0;
  }

  .offers__block-price {
    border-right: none;
    border-bottom: 1px solid #D9D9D9;
  }
}

@media (max-width: 320px) {
  .section__default {
    margin-bottom: 75px;
  }

  .hero {
    padding-top: 30px;
  }

  .hero {
    padding-bottom: 0px;
  }

  .hero__headline {
    margin-bottom: 15px;
  }

  .hero__description {
    margin-bottom: 20px;
  }

  .offers__blocks {
    margin-top: 25px;
  }

  .offers__block-header {
    padding: 20px;
  }

  .offers__block-infos {
    padding: 20px;
  }

  .offers__block-footer {
    padding-right: 20px;
  }

  .offers__block-footer {
    padding-left: 20px;
  }

  .offers__block-btn::after {
    padding-left: 10px;
  }

  .about__description {
    margin-bottom: 25px;
  }
}

@media (max-width: 1600px) and (min-width: 767px) {
  html,
  body {
    font-size: calc(14px + 2 * 100vw / 1600);
  }

  h1 {
    font-size: calc(28px + 20 * 100vw / 1600);
  }

  h2 {
    font-size: calc(24px + 22 * 100vw / 1600);
  }

  .offers__block-headline {
    font-size: calc(18px + 2 * 100vw / 1600);
  }

  .offers__block-price {
    font-size: calc(18px + 2 * 100vw / 1600);
  }

  .about__item-title {
    font-size: calc(24px + 12 * 100vw / 1600);
  }
}

@media (max-width: 768px) and (min-width: 1600px) {
  .offers__header {
    gap: 15px;
  }
}

.webp .hero { background: url(../img/hero-bg.webp) no-repeat right; }

.webp .about__image { background: url(../img/about-bg.webp) no-repeat right; }

.webp .service__hero { background: url(../img/service-bg.webp) no-repeat right; }